.paddingBottom {
    padding-bottom: 25px;
}

.paddingAround {
    padding: 50px;
}

.blog-title {
    color: #DE3163;
    line-height: 28px;
    margin-bottom: 13px;
    font-weight: 700;
    font-size: 22px;
  }

  .content {
    color: #808080;
  }

  .blog-header {
    font-size: 40px;
    line-height: 56px;
    margin-bottom: 18px;
    color: #000000;
    font-weight: 700;
  }

  .padding-top-25{
    padding-top: 25px;
  }

  .padding-top-30{
    padding-top: 30px;
  }

  .description-table{
    background-color:#D3D3D3 !important;
    padding-left: 20px !important;
  }

  .readmore {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }