<div class="card">
    <div class="card-body">
        <h1 class="text-center font-weight-bold">Brief Description</h1>
    </div>
</div>

<div class="container paddingTop50" style="padding-top: 50px">
    <h4>Our Products</h4>
    <div class="container">
        <h5> <span class="actions">
                <a href="/personalassistant">Personal Assistant</a>
            </span></h5>
        <p class="text-justify"> This product is about providing support to personal trainer's client 24/7 and helping
            them clarify issues
            and doubts </p>
    </div>
</div>