<!-- <div class="card">
    <div class="card-body">
        <h1 class="text-center font-weight-bold">Brief Description</h1>
    </div>
</div>

<div class="container paddingTop50" style="padding-top: 50px">
    <h4>Our Products</h4>
    <div class="container">
        <h5> <span class="actions">
                <a href="/personalassistant">Personal Assistant</a>
            </span></h5>
        <p class="text-justify"> This product is about providing support to personal trainer's client 24/7 and helping
            them clarify issues
            and doubts </p>
    </div>
</div> -->

<div class="card" style="width: 20rem;">
    <img class="card-img-top" data-src="holder.js/100px180/" alt="Card image cap" />
    <div class="card-body">
      <h4 class="card-title">Card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>