<div class=" content">

  <div class=" row">
    <!-- <div class=" col-12">
      <div class=" card card-chart">
        <div class=" card-header">
          <h3 class=" card-title"> Personal training... Personalized!
          </h3>
        </div>
        <div class="card-body">
          Get your personal AI assistant, make it your wingman and 
          start coaching clients, even when you are not available. 
        </div>
      </div> 
    </div> -->

    <div class=" col-6">
      <div class="row" style="padding-left:15px;">
        <b>
          <h1 style="font-size: 6rem;"> Personal training...
            <br>
            Personalized!
          </h1>
        </b>
      </div>


 <!-- <div class="row">
    <div class="col-12" style="padding-left:25px">
     <h1 style="font-size:2.5rem  "> Hey trainers... join us and</h1>
    </div>
  </div>-->
    
      <div class="col-12" style="font-size: 2rem">
       Get your personal AI assistant, <br> Make it your wingman,
        <br> Start coaching clients 24x7
      </div>
    </div>
    <div class=" col-6">
      Video is coming soon
    </div>
  </div>

  <div class="row">
    <div class="col-12" style="padding-left:25px">
     <h1 style="font-size:3rem  "> Even when you are not available!</h1>
    </div>
  </div>

  <div class=" row" style=" padding-top:50px">
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Availablity</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-bell-55 text-danger-states"> </i> Unique Personal Assistance
          </h3>
        </div>
        <div class=" card-body">
          A 24x7 personal assistance unique to each trainer-client combo!
        </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Personal touch</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-delivery-fast text-info"> </i> Answering Specific Questions
          </h3>
        </div>
        <div class=" card-body">
          Ability to answer specific ‘long-tail’ questions,
          and much more </div>
      </div>
    </div>
    <div class=" col-lg-4">
      <div class=" card card-chart">
        <div class=" card-header">
          <h5 class=" card-category">Built by Fitness people</h5>
          <h3 class=" card-title">
            <i class=" tim-icons icon-send text-success"> </i> Technically Intelligent Fitness people
          </h3>
        </div>
        <div class=" card-body">Built by bred-in-the-bone fitness people with top tier
          technical intellect
        </div>
      </div>
    </div>
  </div>
</div>