<div class="container navbar navbar-expand-lg navbar-light bg-light zeroMargin maxWidth">
    <div class="row collapse navbar-collapse" id="navbarSupportedContent">
      <div class="col-sm-6">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="" routerLinkActive="active">Home</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/joinus" routerLinkActive="active">Join Us</a>
            </li> -->
        </ul>
      </div>
      <div class="col-sm-6 float-end">
        <ul class="navbar-nav mr-auto float-end">
            <li class="nav-item float-end">
                <a class="nav-link float-end" routerLink="/company" routerLinkActive="active">About Company</a>
            </li>
            <li class="nav-item float-end">
                <a class="nav-link float-end" routerLink="/contact" routerLinkActive="active">Contact</a>
            </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div> -->